extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(action="/leads/update/" + lead.id method="POST")
    input(type="email" name="email" value=lead.email)
    button(type="submit") Update
  
