extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" method="POST")
    input(type="email" name="email")
    button(type="submit") Submit 

  if leads
    ul
      each lead in leads
        li
          | #{lead.email} 
          a(href="/leads/"+lead.id) Delete
          a(href="/leads/edit/"+lead.id) Edit
  
